.idea
frozen/
shaders/~.*
.shaders/
node_modules/
ISF Audio DEBUG.amxd
.drawing.svg
.drawing.*.svg
.TEST*.amxd
.TEST*.maxpat
devices/images/
devices/video/
devices/video/*.avi
devices/video/*.mp4
assets/screenshot-*.png
assets/Screenshot 2*.png
assets/screenshot-*.mov
assets/Screenshots Project/Backup/
