.idea
frozen/
shaders/~.*
.shaders/
node_modules/
.drawing.svg
.drawing.*.svg
.TEST*.amxd
.TEST*.maxpat
.TEST*.jxs
.data-dir/
devices/*.min.js
assets/images/
assets/video/SCR.*
assets/video/
assets/video/*.avi
assets/video/*.mp4
assets/video/REC.*
assets/video/.obsolete/
assets/mini-shaders/.broken
assets/mini-shaders/.dupl
assets/mini-shaders/.slow
assets/mini-shaders/.unknown
assets/mini-shaders/.temp.jxs
assets/mini-shaders/.temp-*.jxs
assets/mini-shaders/.obsolete
assets/mini-shaders/.info
assets/shaders/.wip
assets/shaders/.obsolete
assets/shaders/.bugs
assets/shaders/.info
assets/shaders/.postponed
assets/sketches/.obsolete
assets/svg/.unknown
assets/svg/.obsolete
assets/lib/
docs/media/temp/screenshot-*.png
docs/media/temp/Screenshot 2*.png
docs/media/temp/screenshot-*.mov
docs/media/temp/Screen Recording *.mov
docs/media/temp/
tests/fixtures/* Project/Backup/
tests/fixtures/PX Stream/
scripts/assets/.downloaded
build/PX Stream/Icon
build/PX Stream/Assets
build/*.alp
build/PX Stream/Devices/
