.idea
frozen/
shaders/~.*
.shaders/
node_modules/
.drawing.svg
.drawing.*.svg
.TEST*.amxd
.TEST*.maxpat
.data-dir/
devices/*.min.js
assets/images/
assets/video/SCR.*
assets/video/
assets/video/*.avi
assets/video/*.mp4
assets/video/REC.*
assets/mini-shaders/.broken
assets/mini-shaders/.dupl
assets/mini-shaders/.slow
assets/mini-shaders/.unknown
assets/mini-shaders/.temp.jxs
assets/mini-shaders/.temp-*.jxs
assets/svg/.unknown
assets/svg/.obsolete
docs/media/temp/screenshot-*.png
docs/media/temp/Screenshot 2*.png
docs/media/temp/screenshot-*.mov
docs/media/temp/Screen Recording *.mov
docs/media/temp/guide/
tests/fixtures/* Project/Backup/
tests/fixtures/PX Stream/
scripts/assets/.downloaded
scripts/packaging/PX Stream/Icon
scripts/packaging/PX Stream/Assets
scripts/packaging/PX Stream/Devices
scripts/packaging/*.alp
